p, h1, h5, button {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.main {
    background-color: #EBEEF3;
    width: 100%;
    height: 100%;
    padding-bottom: 17px;
}
.pagination {
    display: flex;
    justify-content: center;
    padding-top: 4px;
    
    
}
